.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #fffde7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-right: 1rem;
}
